.small-text {
  font-size: 0.5em;
}

p.x2-image img {
  height: 200%;
  width: 200%;
}

p.holaluz-jobs {
  margin-top: 3em;
}

p.holaluz-jobs > img {
  margin: 0;
  background: none;
  border: none;
  box-shadow: none;
  height: 1em;
}
